            <div class='sidebar-wrapper'>
                <div class='title-group'>
                  <span class='titletwo'>
                   在线课堂
                    </span>
                    <a href="#">更多</a>
                  </div>
                  <div class='advertise-group'>
                    <a href='#'>
                    <img src="https://static-image.xfz.cn/1534236783_765.png"alt="">
                    </a>
                    </div>
                    <div class="platform-group">
                        <div class='title-group'>
                            <span class='titletwo'>
                            关注小饭桌
                            </span>
                      </div>
                      <div class="focus-group">
                        <ul class="lefts-group">
                          <li class="weibo"><a href="#" target="_blank">微博二维码</a></li>
                          <li class="toutiao"><a href="#" target="_blank">头条二维码</a></li>
                          </ul>
                          <div class="rights-group">
                            <p class="desc">扫码关注</p>
                            </div>
                        </div>
                        <div class="hot-news-group">
                          <div class="title-group">
                            <span class="title">
                              热门推荐
                              </span>
                            </div>
                            <ul class="hot-list-group">
                              <li><div class="left-content"><p class="titlethree"><a href="#">
                                    品钛已经合作约两百家商业机构和近百家金融机构，也说明机构客户对于品钛产品服务的深度认可
                                  </a></p>
                                  <p class="morethree">
                                  <span class="classify">深夜报道</span>
                                  <span class="issue-time">1小时前</span>
                                  </p>
                                </div>
                                <div class="right-content">
                                  <a href="#">
                                    <img src="https://static-image.xfz.cn/1540628501_310.jpg-website.news.list" alt="">
                                    </a>
                                  </div>
                              </li>
                              </ul>
                          </div>
                </div>
              </div>
